@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.circle{
    height: 30px;
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    position: fixed;
}
h2{
    font-family: "Poppins", sans-serif;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
}
.parent{
    height: 350px;
    width: 95%;
    border: 2px solid white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}
.parent > .child{
    height: 250px;
    width: 350px;
    border: 2px solid white;
}
.parent > .child > img{
    height: 100%;
    width: 100%;
    background-size: cover;
}
